* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  background-color: #333333;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  text-align: left;
}

.top-image {
  text-align: center;
  width: 15px;
}


.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 1px;
  text-align: left;
  color: white;
  margin: 0 auto;
}

.top-wrapper h4 {
  font-size: 30px;
  letter-spacing: 1px;
  text-align: left;
  color: white;
  margin-top: 30px;
}

.top-wrapper h3 {
  font-size: 20px;
  letter-spacing: 1px;
  text-align: left;
  color: white;
}

.header-left {
  color: white;
  float: center;
  margin-right: -25px;
}
  
.top-wrapper p {
  opacity: 0.7;
  font-size: 15px;
  margin-bottom: 10px;
  text-align: left;
  color: white;
}


header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,1);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.theater-anchor-button-sp {
  color: white;
}
  

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}


footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.menu-icon {
  color: white;
  float: left;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.btn-wrapper {
  text-align: center;
}

.btn-wrapper p {
  margin-bottom: 20px;
}

.schedule {
  background-color: #239b76;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.clear {
  clear: left;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #000000;
}

table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
  color: white;
}


@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  footer {
    text-align: center;
  }
}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
